@model MoviesVM
@{
    ViewData["Title"] = "Update";
}
<h1>@TempData["ErrorMovies"]</h1>
<style>
    img {
        height: 400px !important;
    }
</style>
<form class="row g-3" asp-controller="Movies" asp-action="Update" enctype="multipart/form-data">

    <partial name="~/Views/Shared/PartialView/Movie_Update_Create.cshtml" />

</form>

@section Scripts {
    <partial name="~/Views/Shared/_ValidationScriptsPartial.cshtml" />
}